<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ecommerce</title>

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="/static/css/theme.css" rel="stylesheet" />

</head>


<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block"
      data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand d-inline-flex" href="index.html"><img class="d-inline-block"
            src="/static/img/gallery/logo.png" alt="logo" /><span
            class="text-1000 fs-0 fw-bold ms-2">Ecommerce</span></a>
        
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page"
                href="#categoryWomen">Women</a></li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="#header">Men</a></li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="#collection">Collection</a></li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="#outlet">Outlet</a></li>
          </ul>
          <form class="d-flex"><a class="text-1000" href="#!">
              <svg class="feather feather-phone me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">

              </svg></a><a class="text-1000" href="#!">
              <svg class="feather feather-shopping-cart me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg></a><a class="text-1000" href="#!">
              <svg class="feather feather-search me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg></a><a class="text-1000" href="#!">
              <svg class="feather feather-user me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg></a><a class="text-1000" href="#!">
              <svg class="feather feather-heart me-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                </path>
              </svg></a></form>
        </div>
      </div>
    </nav>
    <section class="py-11 bg-light-gradient border-bottom border-white border-5">
      <div class="bg-holder overlay overlay-light"
        style="background-image:url(/static/img/gallery/header-bg.png);background-size:cover;">
      </div>
      <!--/.bg-holder-->

      <div class="container">
        <div class="row flex-center">
          <div class="col-12 mb-10">
            <div class="d-flex align-items-center flex-column">
              <h1 class="fw-normal"> With an outstanding style, only for you</h1>
              <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold">Exclusively designed for you</h1>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0" id="header" style="margin-top: -23rem !important;">

      <div class="container">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card card-span h-100 text-white"> <img class="img-fluid" src="/static/img/gallery/her.png"
                width="790" alt="..." />
              <div class="card-img-overlay d-flex flex-center"> <a class="btn btn-lg btn-light" href="#!">For Her</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-span h-100 text-white"> <img class="img-fluid" src="/static/img/gallery/him.png"
                width="790" alt="..." />
              <div class="card-img-overlay d-flex flex-center"> <a class="btn btn-lg btn-light" href="#!">For Him </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->










    <section id="categoryWomen">
      <div class="container">
        <div class="row h-100">
          <div class="col-lg-7 mx-auto text-center mb-6">
            <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Shop By Category</h5>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs majestic-tabs mb-4 justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-women-tab" data-bs-toggle="tab" data-bs-target="#nav-women"
                  type="button" role="tab" aria-controls="nav-women" aria-selected="true">For Women</button>
                <button class="nav-link" id="nav-men-tab" data-bs-toggle="tab" data-bs-target="#nav-men" type="button"
                  role="tab" aria-controls="nav-men" aria-selected="false">For Men</button>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">
                  <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab-women" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-wtshirt-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-wtshirt" type="button" role="tab" aria-controls="pills-wtshirt"
                        aria-selected="true">T-Shirt</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-dresses-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-dresses" type="button" role="tab" aria-controls="pills-dresses"
                        aria-selected="false">Shirt</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-wshoes-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-wshoes" type="button" role="tab" aria-controls="pills-wshoes"
                        aria-selected="false">Shoes</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-wwatch-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-wwatch" type="button" role="tab" aria-controls="pills-wwatch"
                        aria-selected="false">Watch </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-wsunglasses-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-wsunglasses" type="button" role="tab" aria-controls="pills-wsunglasses"
                        aria-selected="false">Sunglasses </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-wbagpacks-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-wbagpacks" type="button" role="tab" aria-controls="pills-wbagpacks"
                        aria-selected="false">Bagpacks </button>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContentWomen">
                    <div class="tab-pane fade" id="pills-dresses" role="tabpanel" aria-labelledby="pills-dresses-tab">
                      <div class="carousel slide" id="carouselCategoryDresses" data-bs-touch="false"
                        data-bs-interval="false">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100 align-items-center g-2">
                              <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                    src="/static/img/gallery/shirt-1.png" alt="..." />
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200">
                                    <h5 class="fw-bold text-1000 text-truncate">Shirt</h5>
                                    <div class="fw-bold"><span
                                        class="text-600 me-2 text-decoration-line-through">$200</span><span
                                        class="text-primary">$175</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-dark"
                          href="#!">View All </a></div>
                    </div>
                    <div class="tab-pane fade show active" id="pills-wtshirt" role="tabpanel"
                      aria-labelledby="pills-wtshirt-tab">
                      <div class="carousel slide" id="carouselCategoryWTshirt" data-bs-touch="false"
                        data-bs-interval="false">
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row h-100 align-items-center g-2">
                              <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                    src="/static/img/gallery/red-tshirt.png" alt="..." />
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200">
                                    <h5 class="fw-bold text-1000 text-truncate">Red T-Shirt</h5>
                                    <div class="fw-bold"><span
                                        class="text-600 me-2 text-decoration-line-through">$200</span><span
                                        class="text-primary">$175</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                    src="/static/img/gallery/pink-tshirt.png" alt="..." />
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200">
                                    <h5 class="fw-bold text-1000 text-truncate">Pink T-Shirt</h5>
                                    <div class="fw-bold"><span
                                        class="text-600 me-2 text-decoration-line-through">$200</span><span
                                        class="text-primary">$175</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                    src="/static/img/gallery/orange-tshirt.png" alt="..." />
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200">
                                    <h5 class="fw-bold text-1000 text-truncate">Orange T-Shirt</h5>
                                    <div class="fw-bold"><span
                                        class="text-600 me-2 text-decoration-line-through">$200</span><span
                                        class="text-primary">$175</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                              <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                                <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                                    src="/static/img/gallery/purple-tshirt.png" alt="..." />
                                  <div class="card-img-overlay ps-0"> </div>
                                  <div class="card-body ps-0 bg-200">
                                    <h5 class="fw-bold text-1000 text-truncate">Purple T-Shirt</h5>
                                    <div class="fw-bold"><span
                                        class="text-600 me-2 text-decoration-line-through">$200</span><span
                                        class="text-primary">$175</span></div>
                                  </div><a class="stretched-link" href="#"></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn btn-lg btn-dark"
                            href="#!">View All </a></div>
                      </div>


                    </div>
                  </div>

                </div>
            </nav>
          </div>
        </div>
      </div>
    </section>


    <section class="py-0">
      <div class="container">
        <div class="row h-100">
          <div class="col-lg-7 mx-auto text-center mb-6">
            <h5 class="fs-3 fs-lg-5 lh-sm mb-3">Checkout New Arrivals</h5>
          </div>
          <div class="col-12">
            <div class="carousel slide" id="carouselNewArrivals" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row h-100 align-items-center g-2">
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/full-body.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Flat Hill Slingback</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/formal-coat.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Ocean Blue Ring</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/ocean-blue.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Brown Leathered Wallet</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/sweater.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Silverside Wristwatch</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                  <div class="row h-100 align-items-center g-2">
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/full-body.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Flat Hill Slingback</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/formal-coat.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Ocean Blue Ring</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/ocean-blue.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Brown Leathered Wallet</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/sweater.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Silverside Wristwatch</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <div class="row h-100 align-items-center g-2">
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/full-body.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Flat Hill Slingback</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/formal-coat.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Ocean Blue Ring</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/ocean-blue.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Brown Leathered Wallet</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/sweater.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Silverside Wristwatch</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row h-100 align-items-center g-2">
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/full-body.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Flat Hill Slingback</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/formal-coat.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Ocean Blue Ring</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/ocean-blue.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Brown Leathered Wallet</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="card-img h-100"
                          src="/static/img/gallery/sweater.png" alt="..." />
                        <div class="card-img-overlay bg-dark-gradient d-flex flex-column-reverse">
                          <h6 class="text-primary">$175</h6>
                          <p class="text-400 fs-1">Jumper set for Women</p>
                          <h4 class="text-light">Silverside Wristwatch</h4>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselNewArrivals"
                    data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
                      class="visually-hidden">Previous</span></button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselNewArrivals"
                    data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span
                      class="visually-hidden">Next </span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="row h-100">
          <div class="col-lg-7 mx-auto text-center mb-6">
            <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Best Sellers</h5>
          </div>
          <div class="col-12">
            <div class="carousel slide" id="carouselBestSellers" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row h-100 align-items-center g-2">
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                          src="/static/img/gallery/handbag.png" alt="..." />
                        <div class="card-img-overlay ps-0"> </div>
                        <div class="card-body ps-0 bg-200">
                          <h5 class="fw-bold text-1000 text-truncate">Marie Claire Handbag</h5>
                          <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$399</span><span
                              class="text-danger">$365</span></div>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                          src="/static/img/gallery/earrings.png" alt="..." />
                        <div class="card-img-overlay ps-0"> </div>
                        <div class="card-body ps-0 bg-200">
                          <h5 class="fw-bold text-1000 text-truncate">Red Gem Earrings</h5>
                          <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$489</span><span
                              class="text-danger">$466</span></div>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                          src="/static/img/gallery/lathered-wristwatch.png" alt="..." />
                        <div class="card-img-overlay ps-0"> </div>
                        <div class="card-body ps-0 bg-200">
                          <h5 class="fw-bold text-1000 text-truncate">Black Leathered Wristwatch</h5>
                          <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$799</span><span
                              class="text-danger">$745</span></div>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white"><img class="img-fluid h-100"
                          src="/static/img/gallery/tie.png" alt="..." />
                        <div class="card-img-overlay ps-0"> </div>
                        <div class="card-body ps-0 bg-200">
                          <h5 class="fw-bold text-1000 text-truncate">Red-White Stripped Tie</h5>
                          <div class="fw-bold"><span class="text-600 me-2 text-decoration-line-through">$299</span><span
                              class="text-danger">$243</span></div>
                        </div><a class="stretched-link" href="#"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 pt-7">

      <div class="container">
        <div class="row">

        </div>
        <div class="border-bottom border-3"></div>
        <footer class="py-3 my-4">
          <p class="text-center text-body-secondary">© {{ footer_year }} | <a
              href="https://github.com/soh-123">Namlah</a>
          </p>
        </footer>
      </div>
      <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="vendors/@popperjs/popper.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.min.js"></script>
  <script src="vendors/is/is.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="vendors/feather-icons/feather.min.js"></script>
  <script>
    feather.replace();
  </script>
  <script src="/static/js/theme.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet">
</body>

</html>